*.json linguist-language=JSON-with-Comments
*.h linguist-language=C++
*.cpp linguist-language=C++

*.bat text eol=crlf
/android/gradlew text eol=lf

#__longplay__ fucking crlf on .sh scripts has caused me heart attacks multiple times
*.sh text eol=lf